.backdrop{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: center;
}

.modalContent{
    background-color: #333;
    width: 350px;
    padding: 10px 10px;
    color: grey;
    border-radius: 3px;
}

.modalTitle{
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    font-weight: bold;
}

.modalInput{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px 0;
    color: grey;
}