.pinnedFolderContainer{
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    padding: 12px 30px;
    gap: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    justify-content: space-between;
}

.statConn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.preview{
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
    padding: 20px;
    margin: 0 auto;
}